.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(7, 37, 64, 0.9), rgba(7, 37, 64, 0.9)), url(/images/bg-logistics.jpg);
    padding: 40px 0;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.carousel-item {
    flex: 0 0 auto;
    width: 260px;
    height: 160px;
    margin: 0 14px;

    border-radius: 16px;
    overflow: hidden;
    background-color: #0b3a5e;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    height: 315px;
    width: 388px;
}

/* Logo block */
.logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F32736;
}

.logo-item img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

/* Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}